/* Basic sample */
body {
  overflow: hidden;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
}
body .flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body .flipbook-viewport .container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
}
body .flipbook-viewport .flipbook {
  transform: translate(-50%, -50%);
}
body .flipbook-viewport .flipbook .page {
  -webkit-box-shadow: 0 0 0.23426061rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.23426061rem rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0.23426061rem rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0.23426061rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.23426061rem rgba(0, 0, 0, 0.2);
}
body .flipbook-viewport .flipbook .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
body .flipbook-viewport .page {
  width: 5.39970717rem;
  height: 7.02781845rem;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body .flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;
  -webkit-box-shadow: 0 0 0.23426061rem #ccc;
  -moz-box-shadow: 0 0 0.23426061rem #ccc;
  -o-box-shadow: 0 0 0.23426061rem #ccc;
  -ms-box-shadow: 0 0 0.23426061rem #ccc;
  box-shadow: 0 0 0.23426061rem #ccc;
}
